# Virtualenv
venv/
env/

# Arquivos do Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env

# Arquivos de configuração
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.idea/
*.vscode/

# Arquivos estáticos e media (gerados)
staticfiles/
media/

# Arquivos de sistema
.DS_Store
Thumbs.db
